<section class="wrapper">
  <h3>结束课程页面</h3>
  <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
              <div class="form-inline">
                <div class="form-group">
                    <h4>点击开始结束课程</h4>
                    <h4>结束课程前请自行备份数据</h4>
                    <button id="buttona" class="btn btn-theme">结束课程</button>
                </div>
              </div>
            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div>
</section>